# ESP-IDF Build Artifacts
**/build/
**/sdkconfig
**/sdkconfig.old
**/dependencies.lock

# Managed Components
**/managed_components/

# Python Virtual Environments
.venv/
__pycache__/
*.pyc

# Local IDE configuration
.vscode/
.idea/
